/* body{
    
    background-image: url('../../Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */
.background {
    background-image: url('../../Images/background.jpg');
    background-attachment: scroll;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position:center center;
    background-repeat: repeat;
    position:absolute;
    text-align:center;
}

.containers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: center;
    margin-top: 40px;
}
.search{
    background-color: rgb(255 255 255 / 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78%;
    border-radius: 14px;
    margin-bottom: 8px;
}
.cards{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row; 
    justify-content: center;
}
/* .cards{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* background-color: #2a2357; */
    /* border-radius: 10px; */
/* } */ 
.text{
    font-family: 'Roboto Slab', serif;
    color:black;
    font-size: 80px;
    text-align: left ;
}
.link {
    text-decoration: none;
    
}
.h3{
    color:white;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    /* background-color: rgb(255 255 255 / 7%); */
    border-color: white;
    border-style: solid;
    padding: 5px;
    justify-content: flex-end;
}


