.container{
    display: inline-grid;
    margin-top: 20px;
    margin-right: 18px;
    margin-left: 20px;
    border-radius: 15%;
    background: rgba(161, 158, 158, 0.8); 
    padding: 0,3%;
}
.select {
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    color: black;
}
.title{
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}