
.cards {
    display: inline;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Roboto Slab', serif;
    font-size: 0.8rem;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
    width: 14rem;
    border-radius: 35px;
    
 
    
}

